<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Link</th>
        <th scope="col">Filename</th>
        <th scope="col">Playlist</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
    {% autoescape true %}
     {% for song in songs %}
      <tr>
        <td>{{ song[0] }}</td>
        <td>
          <a href="{{ song[1] }}">{{ song[1] }}</a>
        </td>
        <td>{{ song[2] }}</td>
        <td>{{ song[3] }}</td>
        <td>{{ "Finished" if song[4] == 0}}
            {{ "Failed" if song[4] == 1}}
            {{ "Processing" if song[4] == 2}}</td>
      </tr>
      {% endfor %}
      {% endautoescape %}
    </tbody>
  </table>
</div>
